<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">WELCOME</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Hope you'll enjoy this page</p>
      <h4 class="text-base font-semibold leading-7 text-indigo-600 m-4">and may the force be with you</h4>
    </div>
  </div>
</div>
